* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*-------------------------topNav------------------------*/
#topNav {
  width: 100%;
  height: 35px;
  background: #f6f6f6;
}
#topNav #topNav1 {
  /*float: left;*/
  width: 1190px;
  height: 37px;
  margin: 0 auto;
}
#topNav #topNav1 #topNav1-0 {
  float: left;
  width: 117px;
  height: 38px;
  margin-right: 410px;
}
#topNav #topNav1 #topNav1-0 img {
  float: left;
  width: 21px;
  height: 16px;
  margin-top: 10px;
}
#topNav #topNav1 #topNav1-0 a {
  float: left;
  font-size: 12px;
  color: #333;
  line-height: 38px;
  margin-left: 5px;
}
#topNav #topNav1 #topNav1-0 a:hover {
  color: #f65d29;
}
#topNav #topNav1 span {
  float: left;
  line-height: 35px;
  color: #c7c7c7;
  font-size: 12px;
}
#topNav #topNav1 .topNav1-1 {
  float: left;
  padding: 0 17px;
  line-height: 37px;
  cursor: pointer;
  vertical-align: middle;
  margin: 10px 0;
  /*border-left: 1px solid #f6f6f6;*/
  /*border-right: 1px solid #f6f6f6;*/
  font-size: 12px;
  color: #333;
  margin-top: 0px;
}
#topNav #topNav1 .topNav1-1 a {
  font-size: 12px;
  color: #333;
}
#topNav #topNav1 .topNav1-1 a:hover {
  color: #f65d29;
}
#topNav #topNav1 p {
  float: left;
  color: #f65d29;
  font-size: 12px;
  line-height: 37px;
  padding-right: 17px;
}
#topNav #topNav1 p a {
  font-size: 12px;
  color: #f65d29;
}
#topNav #topNav1 .topNav1-2 {
  position: relative;
  float: left;
  width: 100px;
  /*padding: 0 17px;*/
  line-height: 37px;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  margin: 10px 0;
  /*border-left: 1px solid #f6f6f6;*/
  /*border-right: 1px solid #f6f6f6;*/
  font-size: 12px;
  color: #333;
  margin-top: 0px;
  z-index: 9999;
}
#topNav #topNav1 .topNav1-2 a {
  font-size: 12px;
  color: #333;
}
#topNav #topNav1 .topNav1-2 a:hover {
  color: #f65d29;
}
#topNav #topNav1 .topNav1-2:hover {
  color: #f65d29;
  background: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  z-index: 9999;
}
#topNav #topNav1 .topNav1-2:hover .topNav2 {
  display: block;
  background: #fff;
}
#topNav #topNav1 .topNav1-2 img {
  position: relative;
  top: 0;
  left: 8px;
  width: 10px;
  height: 10px;
}
#topNav #topNav1 .topNav1-2 .topNav2 {
  display: none;
  position: relative;
  top: -6px;
  left: 0;
  width: 100px;
  z-index: 9999;
}
#topNav #topNav1 .topNav1-2 .topNav2 li {
  padding-right: 17px;
  padding-left: 5px;
  padding-top: 5px;
}
#topNav #topNav1 .topNav1-2 .topNav2 li:hover {
  background: #f0f0f0;
}
#topNav #topNav1 .topNav1-2 .topNav2 li a {
  font-size: 12px;
  color: #333;
}
#topNav #topNav1 .topNav1-2 .topNav2 li a:hover {
  color: #f65d29;
}

/*---------------------------logo--------------------------*/
#logo {
  position: relative;
  width: 1190px;
  height: 88px;
  margin: 0 auto;
}
#logo img {
  position: absolute;
  top: 10px;
  left: 0px;
  float: left;
  width: 165px;
  height: 48px;
  margin-top: 10px;
  margin-right: 10px;
}
#logo span {
  position: absolute;
  top: 10px;
  left: 175px;
  float: left;
  margin-top: 18px;
  margin-left: 20px;
}
#logo span a {
  font-size: 20px;
  color: #666;
}

/*-------------------------disembark--------------------------*/
#disembark {
  width: 1190px;
  height: 510px;
  margin: 0 auto;
}
#disembark #disembark1 {
  height: 510px;
  background: url(../img/46.png) 96px 47px no-repeat #f7f7f7;
  background-size: 634px 442px;
}
#disembark #disembark2 {
  position: relative;
  top: 76px;
  right: -820px;
  width: 292px;
  height: 387px;
  background: #fff;
}
#disembark #disembark2 #disembark2-0 {
  /*display: none;*/
}
#disembark #disembark2 #disembark2-0 #disembark2-1 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 45px;
  height: 42px;
}
#disembark #disembark2 #disembark2-0 #disembark2-1 img {
  width: 45px;
  height: 42px;
  cursor: pointer;
}
#disembark #disembark2 #disembark2-0 #disembark2-2 {
  width: 246px;
  height: 270px;
  position: absolute;
  left: 20px;
  top: 40px;
  border-bottom: 1px dashed #ccc;
}
#disembark #disembark2 #disembark2-0 #disembark2-2 p {
  float: left;
  width: 246px;
  height: 22px;
  font-size: 16px;
  color: #333;
  font-weight: 900;
  text-align: center;
}
#disembark #disembark2 #disembark2-0 #disembark2-2 img {
  float: left;
  width: 157px;
  height: 157px;
  margin-left: 48px;
  margin-top: 20px;
}
#disembark #disembark2 #disembark2-0 #disembark2-2 #disembark2-3 {
  float: left;
  width: 246px;
  height: 40px;
}
#disembark #disembark2 #disembark2-0 #disembark2-2 #disembark2-3 img {
  float: left;
  width: 36px;
  height: 33px;
  margin-top: 10px;
  margin-left: 56px;
}
#disembark #disembark2 #disembark2-0 #disembark2-2 #disembark2-3 p {
  float: left;
  font-size: 14px;
  color: #999;
  width: 84px;
  height: 20px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 3px;
}
#disembark #disembark2 #disembark2-0 #disembark2-2 #disembark2-3 span {
  float: left;
  font-size: 14px;
  color: #999;
  width: 84px;
  height: 20px;
  margin-left: 10px;
}
#disembark #disembark2 #disembark2-0 #disembark3 {
  position: absolute;
  bottom: 30px;
  right: 26px;
  float: left;
}
#disembark #disembark2 #disembark2-0 #disembark3 a {
  font-size: 16px;
  color: #777;
}
#disembark #disembark2 #qiehuan {
  position: relative;
  display: none;
  height: 387px;
}
#disembark #disembark2 #qiehuan #qiehuan1-1 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 45px;
  height: 42px;
}
#disembark #disembark2 #qiehuan #qiehuan1-1 img {
  width: 45px;
  height: 42px;
  cursor: pointer;
}
#disembark #disembark2 #qiehuan #qiehuan1-3 {
  position: absolute;
  top: 53px;
  left: 23px;
  width: 246px;
  height: 26px;
  border-bottom: 2px solid #eee;
}
#disembark #disembark2 #qiehuan #qiehuan1-3 li {
  float: left;
  height: 26px;
  margin-left: 5px;
  font-size: 16px;
  font-weight: 700;
  color: #999;
  margin-left: 10px;
  cursor: pointer;
}
#disembark #disembark2 #qiehuan .underline {
  position: absolute;
  top: 80px;
  left: 23px;
  width: 131px;
  height: 2px;
  background: #f63;
  margin-top: -2px;
}
#disembark #disembark2 #qiehuan #qiehuan1 {
  width: 246px;
  height: 220px;
  position: absolute;
  top: 80px;
  left: 24px;
  /*display: none;*/
}
#disembark #disembark2 #qiehuan #qiehuan1 #qiehuan1-4 {
  float: left;
  width: 246px;
  height: 32px;
  margin-top: 30px;
}
#disembark #disembark2 #qiehuan #qiehuan1 #qiehuan1-4 span {
  float: left;
  width: 119px;
  height: 32px;
  color: #999;
  font-size: 12px;
  line-height: 32px;
  text-align: center;
  border: 1px solid #999;
  padding: 0;
}
#disembark #disembark2 #qiehuan #qiehuan1 #qiehuan1-4 input {
  float: left;
  width: 109px;
  height: 32px;
  color: #999;
  font-size: 12px;
  line-height: 32px;
  padding-right: 5px;
  border: 1px solid #999;
  padding-left: 5px;
  margin-left: 4px;
}
#disembark #disembark2 #qiehuan #qiehuan1 #qiehuan1-4 #WorldDirectories {
  position: relative;
  top: 0px;
  left: 0;
  width: 239px;
  height: 162px;
  border: 1px solid #999;
  background: #fff;
  overflow: hidden;
  display: none;
}
#disembark #disembark2 #qiehuan #qiehuan1 #qiehuan1-4 #WorldDirectories #WorldDirectories1 {
  width: 237px;
  height: 140px;
  overflow-y: scroll;
  margin-top: 10px;
}
#disembark #disembark2 #qiehuan #qiehuan1 #qiehuan1-4 #WorldDirectories #WorldDirectories1 li {
  width: 200px;
  height: 25px;
  float: left;
  margin-top: 0pc;
}
#disembark #disembark2 #qiehuan #qiehuan1 #qiehuan1-4 #WorldDirectories #WorldDirectories1 li b {
  float: left;
  font-size: 10px;
  color: #333;
  margin-left: 15px;
}
#disembark #disembark2 #qiehuan #qiehuan1 #qiehuan1-4 #WorldDirectories #WorldDirectories1 li p {
  float: right;
  font-size: 12px;
  color: #999;
}
#disembark #disembark2 #qiehuan #qiehuan1 #qiehuan1-5 {
  float: left;
  width: 246px;
  height: 32px;
  margin-top: 20px;
}
#disembark #disembark2 #qiehuan #qiehuan1 #qiehuan1-5 input {
  float: left;
  width: 141px;
  height: 32px;
  color: #999;
  font-size: 12px;
  line-height: 32px;
  border: 1px solid #999;
  padding-left: 5px;
}
#disembark #disembark2 #qiehuan #qiehuan1 #qiehuan1-5 span {
  float: left;
  width: 90px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border: 1px solid #999;
  padding: 0;
  margin-left: 4px;
}
#disembark #disembark2 #qiehuan #qiehuan1 #qiehuan1-5 span a {
  color: #666;
  font-size: 14px;
}
#disembark #disembark2 #qiehuan #qiehuan1 #qiehuan1-6 {
  float: left;
  width: 246px;
  height: 19px;
  margin-top: 20px;
}
#disembark #disembark2 #qiehuan #qiehuan1 #qiehuan1-6 input {
  float: left;
  width: 13px;
  height: 13px;
  margin-top: 3px;
}
#disembark #disembark2 #qiehuan #qiehuan1 #qiehuan1-6 p {
  float: left;
  font-size: 14px;
  color: #666;
  margin-left: 5px;
}
#disembark #disembark2 #qiehuan #qiehuan1 #qiehuan1-7 {
  float: left;
  width: 246px;
  height: 34px;
  margin-top: 20px;
  background: #f63;
  line-height: 34px;
  text-align: center;
}
#disembark #disembark2 #qiehuan #qiehuan1 #qiehuan1-7 a {
  font-size: 15px;
  color: #fff;
}
#disembark #disembark2 #qiehuan #qiehuan2 {
  width: 246px;
  height: 220px;
  position: absolute;
  top: 80px;
  left: 24px;
  display: none;
  /* #qiehuan2-3{
  	float: left;
  	width:246px;
  	height:26px;
  	border-bottom: 2px solid #eee;
  	li{
  		float: left;
  		height:26px;
  		margin-left: 5px;
  		a{
  			font-size:16px;
  			font-weight: 700; 
  			color:#999;
  			margin-left: 10px;
  		}
  	}
  } */
  /* .underline{
  	float: left;
      width: 131px;
      height: 2px;
      background: #f63;
      margin-top: -2px;
  } */
}
#disembark #disembark2 #qiehuan #qiehuan2 #qiehuan2-4 {
  float: left;
  width: 246px;
  height: 32px;
  margin-top: 30px;
}
#disembark #disembark2 #qiehuan #qiehuan2 #qiehuan2-4 input {
  float: left;
  width: 246px;
  height: 32px;
  color: #999;
  font-size: 12px;
  line-height: 32px;
  border: 1px solid #999;
  padding-left: 5px;
}
#disembark #disembark2 #qiehuan #qiehuan2 #qiehuan2-5 {
  float: left;
  width: 246px;
  height: 32px;
  margin-top: 20px;
}
#disembark #disembark2 #qiehuan #qiehuan2 #qiehuan2-5 input {
  float: left;
  width: 246px;
  height: 32px;
  color: #999;
  font-size: 12px;
  line-height: 32px;
  border: 1px solid #999;
  padding-left: 5px;
}
#disembark #disembark2 #qiehuan #qiehuan2 #qiehuan2-6 {
  float: left;
  width: 246px;
  height: 19px;
  margin-top: 20px;
}
#disembark #disembark2 #qiehuan #qiehuan2 #qiehuan2-6 input {
  float: left;
  width: 13px;
  height: 13px;
  margin-top: 3px;
}
#disembark #disembark2 #qiehuan #qiehuan2 #qiehuan2-6 p {
  float: left;
  font-size: 14px;
  color: #666;
  margin-left: 5px;
}
#disembark #disembark2 #qiehuan #qiehuan2 #qiehuan2-6 span {
  float: right;
}
#disembark #disembark2 #qiehuan #qiehuan2 #qiehuan2-6 span a {
  font-size: 14px;
  color: #666;
}
#disembark #disembark2 #qiehuan #qiehuan2 #qiehuan2-7 {
  float: left;
  width: 246px;
  height: 34px;
  margin-top: 20px;
  background: #f63;
  line-height: 34px;
  text-align: center;
}
#disembark #disembark2 #qiehuan #qiehuan2 #qiehuan2-7 a {
  font-size: 15px;
  color: #fff;
}
#disembark #disembark2 #qiehuan #qiehuan3 {
  width: 246px;
  height: 56px;
  position: absolute;
  top: 320px;
  left: 24px;
  border-top: 1px dashed #e0e0e0;
}
#disembark #disembark2 #qiehuan #qiehuan3 #qiehuan3-1 {
  float: left;
  margin-top: 28px;
}
#disembark #disembark2 #qiehuan #qiehuan3 #qiehuan3-1 li {
  float: left;
  width: 26px;
  height: 26px;
  margin-right: 15px;
}
#disembark #disembark2 #qiehuan #qiehuan3 #qiehuan3-1 li a {
  width: 26px;
  height: 26px;
}
#disembark #disembark2 #qiehuan #qiehuan3 #qiehuan3-1 li a img {
  width: 26px;
  height: 26px;
}
#disembark #disembark2 #qiehuan #qiehuan3 span {
  float: right;
  margin-top: 30px;
}
#disembark #disembark2 #qiehuan #qiehuan3 span a {
  font-size: 16px;
  color: #000;
}

/*-------------------------------bottom-----------------------------*/
#bottom {
  width: 1190px;
  height: 102px;
  margin: 0 auto;
  margin-top: 20px;
}
#bottom #bottom1 {
  width: 1190px;
  height: 102px;
  padding: 30px 0;
}
#bottom #bottom1 ul {
  float: left;
  height: 16px;
  margin-left: 120px;
  margin-bottom: 15px;
}
#bottom #bottom1 ul li {
  float: left;
  padding: 0 7px;
}
#bottom #bottom1 ul li a {
  font-size: 12px;
  color: #8c8c8c;
}
#bottom #bottom1 ul li a:hover {
  color: #f65d29;
}
#bottom #bottom1 ul span {
  float: left;
  color: #ebebeb;
  font-size: 12px;
  margin-top: 3px;
}
#bottom #bottom1 p {
  float: left;
  width: 1190px;
  height: 16px;
  text-align: center;
  font-size: 12px;
  color: #8c8c8c;
}

/*# sourceMappingURL=denglu.css.map */
